body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: #111;
  color: #fff;
}

.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  background-color: #111;
  z-index: 1;
}
.header img {
  max-width: 100%;
  height: auto;
}
.main-input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 25px;
  padding: 1em;
  font-size: 2rem;
  text-align: center;
}
